@import url('https://fonts.googleapis.com/css?family=Share+Tech+Mono&display=swap');
// tokens
$font-primary: 'Share Tech Mono', monospace;
$font-secondary: 'Share Tech Mono', monospace;
$font-tertiary: 'Share Tech Mono', monospace;
// extends
// ordinaries