@import '_base';
* {
	@include m(0px);
	@include p(0px);
	@include fs(14px);
}
html, body {
	@include area(100%);
	@include ff($font-primary);
}
a {
  text-decoration: none;
}
h3 {
	@include fs(24px);
	@include mb(10px);
	span {
		cursor: pointer;
	}
}
select {
	@include p(5px);
	@include w(100%);
	option {
		@include p(5px);
		@include mb(5px);
		cursor: pointer;
	}
}
input {
	@include p(5px);
	@include mb(10px);
}
ul {
	@include b(1px, solid, rgba(0,0,0,0.2));
	overflow-y: scroll;
}
li {
	@include fx(row, flex-start);
	@include p(5px);
	cursor: pointer;
	&:hover {
		@include bg(rgba(0,0,0,0.05));
	}
	&.selected {
		@include bg(rgba(0,0,0,0.15));
	}
}
i.material-icons {
	@include fs(14px);
	@include mr(5px);
}
.MainContainer {
	@include fx(row, flex-start);
	@include jc(flex-start);
	// @include p(20px);
	@include w(100%);
}
.MainPacotes {
	// @include mw(800px);
	@include w(100%);
	select {
		@include fs(12px);
	}
}
.ChartDivisor {
	@include ml(20px);
}
.GroupDivisor {
	@include fx(column, flex-start);
	@include bg(rgba(0,0,0,0.2));
	@include p(20px);
	@include h(100vh);
	@include w(260px);
	overflow-y: scroll;
	position: fixed;
	top: 0px;
	left: 0px;
	
	// @include jc('flex-start');
	// & > div {
		// @include w(50%);
	// }
}
.GroupExameFinal {
	@include fx(column, flex-start);
	@include mr(20px);
	@include mt(20px);
	@include ml(320px);
	.Card {
		@include b(1px, solid, rgba(0,0,0,0.15));
		@include bg(rgba(0,0,0,0.05));
		@include fx(row, flex-start);
		@include p(20px);
		@include w(900px);
	}
}
.CalcularBox {
	@include ml(20px);
	ul {
		@include h(333px);
		@include my(10px);
	}
}
.ResultadosBox {
	@include mr(20px);
	@include mw(300px);
	@include w(100%);
	ul {
		border: none;
	}
}

.FieldSearch {
	@include mb(20px);
	@include w(100%);
	ul {
		@include w(100%);
	}
	&.Filmes ul {
		@include h(200px);
	}
	&.Linhas ul {
		@include h(100px);
	}
	&.Exames ul {
		@include h(200px);
	}
	&.Importar {
		cursor: pointer;
	}
}
.ButtonCalculate {
	@include fx(row, center);
	@include jc(center);
	@include b(1px, solid, rgba(0,0,0,0.3));
	@include bg(rgba(0,0,0,0.1));
	@include h(35px);
	@include w(85px);
	cursor: pointer;
	p {
		@include fc(rgba(0,0,0,1));
		@include ta(center);
	}
	&:hover {
		@include bg(rgba(0,0,0,0.2));
	}
}
.loading {
	.ResultadosBox {
		ul {
			@include bg(rgba(0,0,0,0.1));
		}
	}
	.FieldSearch {
		ul {
			@include bg(rgba(0,0,0,0.1));
		}
	}
}
.TableCpto {
	@include b(1px, solid, rgba(0,0,0,0.15));
	@include bg(rgba(0,0,0,0.05));
	@include fx(row, flex-start);
	@include p(20px);
	@include mt(20px);
	@include mw(900px);
	@include w(100%);
	.scrollable {
		overflow-x: scroll;
		overflow-y: scroll;
		@include h(400px);
		// @include bg(rgba(0,0,0,0.05));
		@include w(100%);
	}
	.header {
		@include fw(bold);
	}
	.line {
		display: inline-flex;
		&.red {
			@include fc(red);
		}
	}
	li {
		display: block;
		@include w(60px);
	}
	&.TableReport {
		li:nth-child(1),
		li:nth-child(2) {
			@include w(200px);
		}
	}
	&.TableExame {
		li:nth-child(1),
		li:nth-child(3) {
			@include bg(rgba(0,0,0,0.05));
			@include w(200px);
		}
		li:nth-child(10) {
			@include w(100px);
		}
	}
}
.chart-media-dot {
	@include area(10px);
	@include bg(rgba(0,0,0,0.05));
}
.PageImport {
	@include area(calc(100% - 40px));
	@include p(20px);
	.Label {
		@include mb(10px);
	}
	.Warning {
		@include mt(10px);
		@include fc(#999);
	}
}